@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

//global
html {
  scroll-behavior: smooth;
}

/* nav-style */
nav li {
  @apply hover:text-lightblue/80;
}
nav .active {
  @apply text-lightblue;
}

/* main */

/* home section */
.hero {
  --bg-hero-img: url(./images/carousel-1.png);
  position: relative;
}
.hero::after {
  content: "";
  background-image: var(--bg-hero-img);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -1;
  inset: 0;
  opacity: 0.7;
  transition: background-image 0.5s ease;
}
.carousel-btn {
  @apply rounded-full w-4 h-4 aspect-square bg-limeGreen;
}
.active-carousel-btn {
  @apply rounded-full w-8 h-4 aspect-square bg-limeGreen;
}
/* contact */
form > label {
  @apply hidden;
}
form > input {
  @apply rounded-md px-5 py-3;
}
//contact section
// #contact::before {
//   content: "";
//   background-image: url(./images/top-curve.svg);
//   @apply bg-no-repeat top-0 -z-10 absolute bg-cover w-full h-[%50] aspect-[900/600];
// }
// #contact::after {
//   content: "";
//   background-image: url(./images/bottom-curve.svg);
//   @apply bg-no-repeat bottom-[30%] -z-10 absolute bg-cover w-full h-[%50] aspect-[900/600];
//   // rotate: -180deg;
// }
